@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
 
 body{
    font-family: 'Silkscreen', cursive;
    padding: 0;
    text-align: center;
   /*  background-color: rgb(201, 201, 201); */
   background-image: url('https://i.ibb.co/GktsHQ9/Screenshot-2022-10-19-at-15-11-58.png');

   background-repeat: no-repeat;
   background-size: 115vw;

}

.teste{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   /* background-image: url('/docs/assets/images/backg2.webp');
   background-repeat: no-repeat;
   background-size: cover; */
}
#start-button{
    margin-top: 5px;
    margin-left: 170px;
    margin-right: 170px;
    width: 30%;
    height: 70px;
    color:white;
    font-size: 25px;
    font-family: 'Silkscreen', cursive;
    background-color: #a324ec;
    border-radius: 16px;
    cursor: pointer;

} 


.game-intro{
    color:white;
}
 
#restart-button{
    position: absolute;
    top: 35px;
    left: 670px;
    /* padding: 5px; */
    padding-right: 15px;
    padding-left: 15px;
    color:white;
    font-size: 25px;
    font-family: 'Silkscreen', cursive;
    background-color: #a324ec;
    border-radius: 16px;
    display: none;
    cursor: pointer;
    /* display: flex;
    align-items: center;
    align-content: center; */

    
}

.hidden {
    visibility: hidden;
}

#first-game{
    background-color: #a324ec;
    border-radius: 16px;
    color: white;
    width: 40%;
    height: 50px;
    font-family: 'Silkscreen', cursive;
    cursor: pointer;

}

#second-game{
    background-color: #a324ec;
    border-radius: 16px;
    color: white;
    width: 40%;
    height: 50px;
    font-family: 'Silkscreen', cursive;
    cursor: pointer;

}

/* .restart-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Silkscreen', cursive;

} */