 body{
    padding: 0;
    text-align: center;
    background-color: rgb(201, 201, 201);
    background-repeat: no-repeat;
}

.teste{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#start-button{
    width: 60%;
    height: 70px;
    color:white;
    background-color: #a81212;
} 
 
